<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADnevdF86wWKnAhvosnF2Oxr1p-8PlDa0</string>
	<key>GCM_SENDER_ID</key>
	<string>270279405346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comlink</string>
	<key>PROJECT_ID</key>
	<string>final-year-project---comlink</string>
	<key>STORAGE_BUCKET</key>
	<string>final-year-project---comlink.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270279405346:ios:8bec6d62bfb3c91d5e3f7b</string>
</dict>
</plist>